/* Styles for details page */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px #646464;
}

.left-box:first-child {
  height: 68%;
}

#movie-poster img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

.right-container {
  width: 60rem;
  height: 70%;

  box-sizing: border-box;
  border-radius: 20px;
}

.right-container div {
  margin-bottom: 7.5px;
}

.right-container p {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
}
